@import "antd/dist/antd.css";

.App {
}

.navbar {
  display: flex;
  justify-content: end;
  top: 0;
  left: 0;
  position: sticky;
  width: 100vw;
  border: 4px solid blue;
}

#brand {
  left: 0;
  position: absolute;
  border: 2px solid red;
}

.nav-item {
  border: 2px solid red;
}

.sidebar {
}
