/* @import "antd/dist/antd.css"; */

/* Layout */
.App {
  /* text-align: center; */
}

img {
  display: block;
  max-width: 100%;
}

.app-layout {
  /* display: flex; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* padding-bottom: 60px; */
}

.navbar {
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: static;
  width: 100%;
  /* border: 3px solid red; */
}

.app-container {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#brand {
  left: 0;
  position: absolute;
}

.footer {
  display: flex;
  justify-content: flex-start;
  left: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  /* height: 5vh; */
  height: auto;
  border: 3px solid red;
  z-index: 10;
}

#name {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
}

/* auth/Signup.js */
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 3px solid blue;
}

.signup-form {
  display: flex;
  justify-content: center;
  padding: 0 2em 0 2em;
  margin: 1em 0;
  border: 3px solid green;
}

.signup-form-item {
  margin: 0.05em 1.25em;
}

.signup-form-input {
  text-align: center;
}

/* auth/Signin.js */
.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid blue;
}

.signin-form {
  align-self: center;
  text-align: center;
  min-width: 30%;
  height: auto;
  margin: auto;
  padding: 0.2rem;
  border: 3px solid green;
}

.signin-form-item {
  align-self: center;
  padding: 0 0.25em;
  min-width: 100%;
  /* margin: auto; */
  border: 3px solid yellow;
}

.signin-form-remember,
.signin-form-register {
  float: left;
}

.signin-form-forgot {
  float: right;
}

.signin-form-button {
  align-self: center;
  padding: 0 0.25em;
  min-width: 100%;
  margin: auto;
}

.google-signin-button-container {
  align-self: center;
  min-width: 30%;
  border: 3px solid green;
}

.google-signin-button {
  padding: 0 0.25em;
  min-width: 100%;
  margin: auto;
  border: 3px solid yellow;
}
